In [2]:
import pandas as pd

from IPython.display import display

In [48]:
# Load the first two files (uploaded ones)
file1 = 'Hourly-load-by-area-and-region-2011-to-2017-.xlsx'
file2 = 'Hourly-load-by-area-and-region-2017-2020.xlsx'
file3 = 'Hourly-load-by-area-and-region-May-2020-to-Oct-2023.xlsx'
file4 = 'Hourly-load-by-area-and-region-Nov-2023-to-Dec-2024.xlsx'

In [49]:
# Load the specific sheets
df1 = pd.read_excel(file1, sheet_name='Load by AESO Planning Area')
df2 = pd.read_excel(file2, sheet_name='Load by Area and Region')
df3 = pd.read_excel(file3, sheet_name='Sheet1')
df4 = pd.read_excel(file4, sheet_name='Sheet1')

# Display first few rows of same type datasets
print("Preview of df1:")
display(df1.head())

print("\nPreview of df2:")
display(df2.head())

Preview of df1:

,DATE,HOUR ENDING,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2011-01-01,1,134.061167,985.524051,88.074635,72.479303,18.82104,138.61838,257.857343,84.96768,...,31.766418,58.012041,59.015744,1190.645294,1044.539795,1679.371701,1435.674681,1951.272821,1004.540852,1039.251320
1,2011-01-01,2,132.580782,939.363308,85.638316,71.626921,18.08736,137.12338,254.185227,83.56032,...,31.003571,56.141569,56.509702,1151.413283,995.873010,1651.468672,1387.974622,1945.992645,993.169326,1021.426382
2,2011-01-01,3,130.666778,902.659208,84.130155,70.904240,17.47680,135.78402,251.299487,82.72968,...,30.334474,55.132345,54.802931,1114.089958,957.462139,1639.158579,1343.982859,1944.300712,986.832400,1007.201302
3,2011-01-01,4,128.555965,881.018019,83.078551,69.762638,17.08464,134.79082,246.884896,82.10364,...,29.924377,55.062781,53.585662,1088.650737,934.603682,1630.763426,1313.840811,1933.741326,976.992997,996.544086
4,2011-01-01,5,128.197830,873.526001,83.425287,69.225483,16.79184,133.73284,244.874204,81.47784,...,29.721866,54.677576,53.058469,1074.278632,926.584469,1627.866294,1296.741189,1921.831303,972.631108,993.905752

Preview of df2:

,DATE,HOUR ENDING,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2017-01-01,1,147.130743,1000.543205,106.372288,60.258445,26.77992,148.640113,312.885262,97.803673,...,36.165387,67.329558,61.051327,1228.456267,1061.594532,1870.390328,1450.991579,2699.932207,1076.204158,1038.751490
1,2017-01-01,2,147.079060,958.622739,104.318315,60.133615,25.82880,149.128700,309.828309,97.175107,...,35.129474,65.836769,58.722233,1189.366554,1017.344971,1863.079941,1402.190487,2715.310805,1069.627874,1019.569395
2,2017-01-01,3,146.098199,926.467750,98.923120,59.811610,26.04960,148.714383,307.748766,97.647403,...,33.560652,71.101764,56.549990,1162.964375,983.017740,1850.118596,1380.066904,2740.498863,1070.132828,1006.832579
3,2017-01-01,4,144.417838,905.552854,96.854958,59.609725,24.69528,143.079861,306.226229,97.355293,...,33.164329,74.978221,55.127444,1142.533452,960.680297,1839.865639,1359.455843,2739.708912,1058.855391,993.951362
4,2017-01-01,5,145.088939,896.257114,93.742781,59.467960,25.07712,143.294806,305.868144,96.581390,...,33.107842,73.812026,54.773490,1133.178727,951.030604,1829.166992,1347.992969,2722.765600,1057.383290,995.272025

In [50]:
# Display first few rows of same type datasets
print("Preview of df1:")
display(df3.head())

print("\nPreview of df2:")
display(df4.head())

Preview of df1:

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2020-05-01 00:00:00,24.547262,766.488707,67.728883,6.039700,33.102747,60.075424,263.816348,76.63242,45.68500,...,25.710939,40.632635,63.039862,983.052390,829.528569,983.302252,1136.878427,937.380889,844.087570,646.447371
1,2020-05-01 01:00:00,24.217279,749.931427,67.351732,5.976805,32.512073,59.100252,266.527404,77.25336,46.27200,...,25.649058,39.318362,61.971646,962.403923,811.903073,972.680385,1112.321898,935.691386,845.893930,671.464615
2,2020-05-01 02:00:00,24.178852,745.479605,66.073662,6.011335,31.327049,58.672489,264.660465,77.59947,46.23188,...,25.760560,39.042697,61.199875,952.117929,806.679480,972.258845,1100.884074,944.553470,839.440516,679.833645
3,2020-05-01 03:00:00,24.330268,755.340908,65.251812,6.032455,32.382342,59.079071,262.598599,77.55261,46.12536,...,26.079264,39.355827,61.568284,939.910058,816.909192,977.573597,1091.612774,939.093054,837.289111,685.517723
4,2020-05-01 04:00:00,24.442393,794.092559,65.199915,6.054820,32.006002,59.216637,264.416934,75.78417,45.20772,...,26.532641,41.183559,64.373674,964.129874,858.466233,981.437509,1122.440835,931.449815,838.407185,699.483188

Preview of df2:

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2023-11-01 00:00:00,26.734184,879.926368,100.173998,5.166425,37.643859,71.10166,275.33804,45.18537,57.69576,...,27.716397,60.840623,59.084603,1123.278827,939.010971,1203.618013,1313.489781,1317.522041,680.682077,738.812729
1,2023-11-01 01:00:00,28.076945,859.069679,95.444806,5.088860,36.709414,71.00770,273.19208,40.36107,55.86708,...,27.551174,60.214221,57.835319,1072.438262,916.904998,1194.070721,1262.456679,1300.499388,667.106806,740.670369
2,2023-11-01 02:00:00,28.805061,857.313683,100.807277,5.088635,37.074778,70.51349,271.61032,39.99705,54.39896,...,27.997667,60.599286,63.767585,1090.541245,921.081268,1203.625818,1277.860119,1318.102642,663.648932,742.243933
3,2023-11-01 03:00:00,32.800103,878.455262,89.362539,5.091995,36.918168,70.87265,270.43028,47.27289,54.90864,...,27.576125,60.991115,66.532438,1097.247125,944.987700,1184.044782,1291.147137,1315.497433,673.397122,749.977863
4,2023-11-01 04:00:00,34.419848,941.265712,93.705665,5.140805,36.071681,71.12218,273.85204,56.72919,54.82088,...,27.895227,61.896075,70.430888,1144.711286,1011.696600,1202.372710,1346.833588,1328.548041,683.288094,761.966642

In [ ]:
#The last 5 rows should be after merging
display(df4.tail())

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
10243,2024-12-31 19:00:00,34.130117,1278.699091,104.177218,6.992905,39.449982,84.87512,317.75856,82.90488,57.38916,...,36.360389,55.146088,89.154322,1460.903129,1367.853413,1380.051888,1710.622983,1450.270752,954.443947,989.598689
10244,2024-12-31 20:00:00,34.101892,1222.314025,103.010383,6.915415,39.043167,84.76681,312.26752,82.37538,58.55924,...,35.713790,61.378320,85.821909,1418.798066,1308.135935,1370.639836,1666.340734,1435.299279,953.598940,975.439513
10245,2024-12-31 21:00:00,34.279601,1172.725095,101.174207,6.921190,38.584847,83.44268,308.76228,81.73173,60.11924,...,34.887422,63.539307,82.444857,1378.959173,1255.169952,1357.424750,1622.833999,1439.130656,953.117817,957.274029
10246,2024-12-31 22:00:00,34.815670,1115.203988,96.779516,6.845500,37.543133,81.38479,303.90468,81.03123,58.59788,...,34.076971,62.371291,79.150515,1326.157456,1194.354503,1341.257871,1564.249417,1427.827690,941.510623,934.510158
10247,2024-12-31 23:00:00,33.807538,1061.491932,93.241928,6.784525,36.564175,78.31198,300.67544,80.42361,58.56048,...,33.558774,60.700888,82.070277,1277.947698,1143.562209,1319.874571,1508.177899,1413.877482,931.430718,910.853906

In [51]:
# Convert 'Date' column to datetime format
df1['Date'] = pd.to_datetime(df1['DATE'], errors='coerce')
df2['Date'] = pd.to_datetime(df2['DATE'], errors='coerce')

# Convert 'Hour Ending' to integer (handling non-numeric cases if any)
df1['Hour Ending'] = df1['HOUR ENDING'].astype(str).str.extract('(\d+)')[0].astype(float) - 1
df2['Hour Ending'] = df2['HOUR ENDING'].astype(str).str.extract('(\d+)')[0].astype(float) - 1

# Create 'DT_MST' column
df1['DT_MST'] = df1['Date'] + pd.to_timedelta(df1['Hour Ending'], unit='h')
df2['DT_MST'] = df2['Date'] + pd.to_timedelta(df2['Hour Ending'], unit='h')

# Drop old 'Date', 'Hour Ending', 'DATE', and 'HOUR ENDING' columns
df1.drop(columns=['Date', 'Hour Ending', 'DATE', 'HOUR ENDING'], inplace=True)
df2.drop(columns=['Date', 'Hour Ending', 'DATE', 'HOUR ENDING'], inplace=True)

# Move 'DT_MST' column to the front
df1 = df1[['DT_MST'] + [col for col in df1.columns if col != 'DT_MST']]
df2 = df2[['DT_MST'] + [col for col in df2.columns if col != 'DT_MST']]

# Display the first few rows
display(df1.head())
display(df2.head())

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2011-01-01 00:00:00,134.061167,985.524051,88.074635,72.479303,18.82104,138.61838,257.857343,84.96768,27.27024,...,31.766418,58.012041,59.015744,1190.645294,1044.539795,1679.371701,1435.674681,1951.272821,1004.540852,1039.251320
1,2011-01-01 01:00:00,132.580782,939.363308,85.638316,71.626921,18.08736,137.12338,254.185227,83.56032,26.63632,...,31.003571,56.141569,56.509702,1151.413283,995.873010,1651.468672,1387.974622,1945.992645,993.169326,1021.426382
2,2011-01-01 02:00:00,130.666778,902.659208,84.130155,70.904240,17.47680,135.78402,251.299487,82.72968,26.59756,...,30.334474,55.132345,54.802931,1114.089958,957.462139,1639.158579,1343.982859,1944.300712,986.832400,1007.201302
3,2011-01-01 03:00:00,128.555965,881.018019,83.078551,69.762638,17.08464,134.79082,246.884896,82.10364,26.22180,...,29.924377,55.062781,53.585662,1088.650737,934.603682,1630.763426,1313.840811,1933.741326,976.992997,996.544086
4,2011-01-01 04:00:00,128.197830,873.526001,83.425287,69.225483,16.79184,133.73284,244.874204,81.47784,26.14608,...,29.721866,54.677576,53.058469,1074.278632,926.584469,1627.866294,1296.741189,1921.831303,972.631108,993.905752

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2017-01-01 00:00:00,147.130743,1000.543205,106.372288,60.258445,26.77992,148.640113,312.885262,97.803673,37.21744,...,36.165387,67.329558,61.051327,1228.456267,1061.594532,1870.390328,1450.991579,2699.932207,1076.204158,1038.751490
1,2017-01-01 01:00:00,147.079060,958.622739,104.318315,60.133615,25.82880,149.128700,309.828309,97.175107,36.78256,...,35.129474,65.836769,58.722233,1189.366554,1017.344971,1863.079941,1402.190487,2715.310805,1069.627874,1019.569395
2,2017-01-01 02:00:00,146.098199,926.467750,98.923120,59.811610,26.04960,148.714383,307.748766,97.647403,36.39312,...,33.560652,71.101764,56.549990,1162.964375,983.017740,1850.118596,1380.066904,2740.498863,1070.132828,1006.832579
3,2017-01-01 03:00:00,144.417838,905.552854,96.854958,59.609725,24.69528,143.079861,306.226229,97.355293,35.76640,...,33.164329,74.978221,55.127444,1142.533452,960.680297,1839.865639,1359.455843,2739.708912,1058.855391,993.951362
4,2017-01-01 04:00:00,145.088939,896.257114,93.742781,59.467960,25.07712,143.294806,305.868144,96.581390,35.03128,...,33.107842,73.812026,54.773490,1133.178727,951.030604,1829.166992,1347.992969,2722.765600,1057.383290,995.272025

In [54]:
# Load your DataFrames (assuming they're already defined)
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Display the first few rows to verify
display(merged_df.head())
display(merged_df.tail())

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
0,2011-01-01 00:00:00,134.061167,985.524051,88.074635,72.479303,18.82104,138.61838,257.857343,84.96768,27.27024,...,31.766418,58.012041,59.015744,1190.645294,1044.539795,1679.371701,1435.674681,1951.272821,1004.540852,1039.251320
1,2011-01-01 01:00:00,132.580782,939.363308,85.638316,71.626921,18.08736,137.12338,254.185227,83.56032,26.63632,...,31.003571,56.141569,56.509702,1151.413283,995.873010,1651.468672,1387.974622,1945.992645,993.169326,1021.426382
2,2011-01-01 02:00:00,130.666778,902.659208,84.130155,70.904240,17.47680,135.78402,251.299487,82.72968,26.59756,...,30.334474,55.132345,54.802931,1114.089958,957.462139,1639.158579,1343.982859,1944.300712,986.832400,1007.201302
3,2011-01-01 03:00:00,128.555965,881.018019,83.078551,69.762638,17.08464,134.79082,246.884896,82.10364,26.22180,...,29.924377,55.062781,53.585662,1088.650737,934.603682,1630.763426,1313.840811,1933.741326,976.992997,996.544086
4,2011-01-01 04:00:00,128.197830,873.526001,83.425287,69.225483,16.79184,133.73284,244.874204,81.47784,26.14608,...,29.721866,54.677576,53.058469,1074.278632,926.584469,1627.866294,1296.741189,1921.831303,972.631108,993.905752

,DT_MST,AREA4,AREA6,AREA13,AREA17,AREA18,AREA19,AREA20,AREA21,AREA22,...,AREA55,AREA56,AREA57,AREA60,CALGARY,CENTRAL,EDMONTON,NORTHEAST,NORTHWEST,SOUTH
122730,2024-12-31 19:00:00,34.130117,1278.699091,104.177218,6.992905,39.449982,84.87512,317.75856,82.90488,57.38916,...,36.360389,55.146088,89.154322,1460.903129,1367.853413,1380.051888,1710.622983,1450.270752,954.443947,989.598689
122731,2024-12-31 20:00:00,34.101892,1222.314025,103.010383,6.915415,39.043167,84.76681,312.26752,82.37538,58.55924,...,35.713790,61.378320,85.821909,1418.798066,1308.135935,1370.639836,1666.340734,1435.299279,953.598940,975.439513
122732,2024-12-31 21:00:00,34.279601,1172.725095,101.174207,6.921190,38.584847,83.44268,308.76228,81.73173,60.11924,...,34.887422,63.539307,82.444857,1378.959173,1255.169952,1357.424750,1622.833999,1439.130656,953.117817,957.274029
122733,2024-12-31 22:00:00,34.815670,1115.203988,96.779516,6.845500,37.543133,81.38479,303.90468,81.03123,58.59788,...,34.076971,62.371291,79.150515,1326.157456,1194.354503,1341.257871,1564.249417,1427.827690,941.510623,934.510158
122734,2024-12-31 23:00:00,33.807538,1061.491932,93.241928,6.784525,36.564175,78.31198,300.67544,80.42361,58.56048,...,33.558774,60.700888,82.070277,1277.947698,1143.562209,1319.874571,1508.177899,1413.877482,931.430718,910.853906

In [53]:
# Save the merged DataFrame to an Excel file
file_path = "merged_data.xlsx"
merged_df.to_excel(file_path, index=False)

print(f"File saved as {file_path}. You can download it now!")

File saved as merged_data.xlsx. You can download it now!

In [3]:
# Convert to CSV
df = pd.read_excel('./Data/Load/merged_data.xlsx')
df.to_csv('./Data/Merged/load_merged_data.csv', index=False)